
body{
    font-family: Roboto;
    background-color: #f2f4fc;
    margin: 0;
    padding: 0;
}

main{
   margin: 0 100px;
}
/*******************/
/*     NAAAAAAAAV    */
/*******************/
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 20px 0;
}
.list {
  display: none;
}
ul {
    list-style: none;
  }

.button-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration-color: #072acb;
  border: none;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
  background-color: #072acb;
  border: none;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
#contact {
  color: #ecf7ff;
  background-color: #072acb;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
}
/*******************/
/* SIMPLIFY     */
/*******************/

#simplify-sec{
    width: 100%;
}

#simplify-title{
    font-size: 50px;
    margin: 0;
    margin-top: 50px;
}

#titulos{
    display: flex;
    font-size: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    color: #6B708D;
}
#header{
    background-image: url(../images/project-assets/projects-section/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   height: 22vh;
}

#image-simp{
    width: 100%;
   
   
}

#texto-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color:#6B708D;
    text-align:left;

}



/*******************/
/* OTHER PROJECTS     */
/*******************/


.section1-img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects{
    display: flex;
	flex-direction: column;
	align-items: center;
    
}

.project-container{
    background: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin-project{
    margin-bottom: 35px;
    width: 75%;
}

.project-container > h3{
    margin: 30px 30px 20px;
    color: #292e47;
    font-size: 1.5rem;
    font-weight: 500;
}

.project-container > p{
    margin: 0px 30px 10px;
    font-size: 17px;
    font-weight: 400;
}

.project-container > a{
    text-decoration: none;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
    margin: 30px;
} 

#first-section h2{
    font-size: 2rem;
}



/*******************/
/*   SECTION4     */
/*******************/
#section4{
    display: flex;
     background-color: #ffc600;
     height: 20vh; 
     flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 #mail-sec4{
     background-image: url("../images/project-assets/newsletter/icon/mail.svg");
     background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 10px;
     background-size: 17px;
     border: none;
     padding: 20px 85px 20px 40px;
     font-size: 10px;
     margin-left: 20px;
 
     
 }
 #container4{
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 

 #let-us-help-you{
     color: rgba(0, 0, 0, 0.611);
 }
 
 #button-sec4{
     background-color: #072ac8;
     color: white;
     border: none;
     padding: 20px 85px 20px 40px;
     font-size: 10px
 }
 
 #input-button-sec4{
   margin-left: 40px;
   margin-top: 40px;
 }
/*******************/
/*     Footer      */
/*******************/

.footer-info{
    display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
}

.footer-info > address{
    width: 240px;
    line-height: 150%;
    color: #6B708D;
    margin-bottom: 25px;
    display: block;
    font-style: italic;
}

.footer-info > img{
    width: 100px;
    margin-bottom: 25px;
    margin-left: 0;
}

.footer-links{
    display: flex;
    margin-bottom: 100px;
    margin-right: 15px;
    text-align: center;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.footer-links a{
    text-decoration: none;
    color: #6B708D;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.links1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch; 
    margin-right: 1rem;
}

.links2{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch; 
}

@media (min-width: 1024px) {
    nav {
      justify-content: space-between;
      height: 40px;
      margin: 0rem 5rem;
      font-size: 18px;
    }
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      
    }
    #desplegable {
      display: none;
    }
    #menu {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
    }
   
    a.home {
      text-decoration: none;
      margin-right: 3rem;
      color: #6b708d;
    }
    a.projects {
      text-decoration: none;
      margin-right: 3rem;
      color: #6b708d;
    }
    a.services {
      text-decoration: none;
      color: #6b708d;
    }
    #contact {
      font-size: 18px;
      padding: 20px 40px;
    }