body{
    font-family: Roboto;
    background-color:#f2f4fc;
   margin: 1rem;
}

/*******************/
/*     HEADER      */
/*******************/

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 20px 0;
}

.list {
  display: none;
}

ul{
  list-style: none;
}



a:hover{
  color: #072ac84a;
}

.home{
  color: #6b708d;
}

.projects{
  color: #6b708d;
}

.services{
  color: #6b708d;
}

.button-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
  background-color: #072acb;
  border: none;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
#contact {
  color: #ecf7ff;
  background-color: #072acb;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/********************/
/*    FORMULARIO   */
/*******************/

main{
  margin: 2rem;
}

#form input{
    border: 0;
    background: rgba(107, 112, 141, 0.1);
    height: 35px;
    width: 100%;
    margin-bottom: 1rem;
}

#form textarea{
  border: 0;
  background: rgba(107, 112, 141, 0.1);
  height: 35px;
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
}

 #form label{
    color: #6B708D;
    margin-bottom: 0.4rem;
 }

 .name{
  display: flex;
	flex-direction: column;
 }

 .email{
  display: flex;
	flex-direction: column;
 }

 .phone{
  display: flex;
	flex-direction: column;
 }

 .message{
  display: flex;
	flex-direction: column;
 }

 .submit{
  width: 100%;
  border: 0;
  color: white;
  background-color: #072acb;
  margin-top: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
 }

 ::placeholder{
  padding: 1rem; 
  }

/*******************/
/*     Footer      */
/*******************/

.footer-info{
  display: flex;
flex-direction: column;
align-items: center;
  text-align: center;
}

.footer-info > address{
  width: 240px;
  line-height: 150%;
  color: #6B708D;
  margin-bottom: 25px;
  display: block;
  font-style: italic;
}

.footer-info > img{
  width: 70px;
  margin-bottom: 25px;
  margin-left: 0;
  font-style:normal;
}

.footer-links{
  display: flex;
  margin-bottom: 100px;
  margin-right: 15px;
  text-align: center;
  flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: stretch;
}

.footer-links a{
  text-decoration: none;
  color: #6B708D;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.links1{
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: baseline;
align-content: stretch; 
  margin-right: 1rem;
}

.links2{
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: baseline;
align-content: stretch; 
}



@media screen and (min-width: 1024px){
  body{
    margin: 0 5rem;
  }

  nav {
    height: 75px;
    font-size: 18px;
   justify-content: space-between;
    
    
  }
  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
  }
  #desplegable {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    
  }
  a.home {
    text-decoration: none;
    margin-right: 3rem;
  }
  a.projects {
    text-decoration: none;
    margin-right: 3rem;
  }
  a.services {
    text-decoration: none;
  }
  #contact {
    font-size: 18px;
    padding: 20px 40px;
  }
  main{
    margin: 0px;
  }
h1{
  margin-top: 100px;
  margin-bottom: 50px;
}
  #form input{
    height: 55px;
    margin-bottom: 30px;
  }
  #form label{
    margin-bottom: 10px;
 }
 .email-phone{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.phone{
  width: 49%;
  margin-bottom: 10px;

}
.email{
  width: 49%;
}

#form textarea{
  height: 155px;
}

.submit{
  font-size: 18px;
  font-weight: bold;
padding: 2rem 3rem;

}
.footer-info {
  text-align: left;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-top: 170px;
}

.footer-links {
  align-items: flex-end;
  margin-bottom: 61px;
}

.links1 {
  margin-bottom: 2rem;
}

.circle {
  margin-right: 10.5rem;
}
.footer-info address{
  font-style:normal;

}

}